@import url('https://fonts.googleapis.com/css?family=Barrio|Cinzel');

.make_url {
  margin-top: 3em;
  border-radius: 15px;
  border: none;
  height: 3em;
  width: 20em;
  color: black;
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
  text-align: center;
}

h1 a:hover{
  text-decoration: none;
}

.submit {
  margin-top: 5em;
  border-radius: 15px;
  width: 10em;
  height: 2.5em;
  border: none;
  background-color: rgb(255, 0, 255);
  color: white;
}

.submit:hover {
  background-color: black;
  color: rgb(255, 0, 255);
}

input:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt rgb(255, 0, 255);
}

.dirty {
  font-family: 'Barrio', cursive;
  color: rgba(255, 0, 255, 1);
  font-size: 3em;
}

h2.title{
  margin-top: 3em;
  margin-bottom: 3em;
  color: white;
  font-size: 5em;
  font-family: 'Cinzel', serif;
}

a.dirty:hover {
  color: rgba(255, 0, 255, 1);
}

.news {
  font-family: 'Cinzel', serif;
  color: white;
  font-size: 3em;
}

a.news:hover {
  color: white;
}

.main {
  text-align: center;
  margin-top: 10em;
}

body {
  background-color: black;
}
