
  </head>
  <body> -->
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1><span class="dirty">Dirty</span><span class="news">News</span></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form action="/result" method="post">
              <input class="make_url" type="text" name="subject" placeholder="Enter Some Dirt">
              <br></br>
              <input class="submit" type="submit" Value="GO!">
            </form>
          </div>
        </div>
      </div>
    </div>
